<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="http://github.com/austinjarts">Austin</a>. A web developer who is on a mission to create applications.
  </p>
  <br />
  <p>
    He hopes to be able to create his own web app by the end of the day. lol. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'headshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Austin Arts</h2>
      <br />
      <p>
        Austin currently works at Google as part of the Google Cloud Sales team. He wants to have a better understanding of how to build an application when talking to customers, and is also interested in using this course to move into a more technical role at Google. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />